<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>新規登録</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!-- 名前とEmailの入力フォームを作成 -->
	<!-- userFormとの紐付け -->
	<!-- ユーザー登録処理（registerUserメソッド）を呼び出すようにアクションとメソッドの設定 -->
	<!-- th:actionではデータの送信先を指定！@{/newuser}は、/newuserへのリンクとなる！！ -->
	<form th:object="${userForm}" th:action="@{/newuser}" th:method="post">
		<table>
			<tr>
				<th>名前</th>
				<!-- userFormのnameフィールドとの紐付け -->
				<td><input type="text" th:field="*{name}"></td>
			</tr>
			<tr>
				<th>Email</th>
				<!-- userFormのemailフィールドとの紐付け -->
				<td><input type="text" th:field="*{email}"></td>
			</tr>
		</table>
		<input type="submit" value="登録">
	</form>
</body>
</html>