<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>新規登録</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!-- 名前とEmailの入力フォームを作成 -->
	<!-- userFormとの紐付け -->
	<!-- ユーザー登録処理（registerUserメソッド）を呼び出すようにアクションとメソッドの設定 -->
	<!-- th:actionではデータの送信先を指定！@{/newuser}は、/newuserへのリンクとなる！！ -->
	<form th:object="${userForm}" th:action="@{/newuser}" th:method="post">
		<table>
			<tr>
				<th>名前</th>
				<!-- userFormのnameフィールドとの紐付け -->
				<td>
					<input type="text" th:field="*{name}">
					<!-- バリデーションエラーメッセージ表示 -->
					<!-- th:ifは指定した条件に当てはまったときだけこの<span>タグを表示する記法！ -->
					<!-- #fieldsの中にバリデーションエラーの情報が入っており、hasErrors('name')では指定したnameフィールドにエラーがある場合にtrueを返す！ -->
					<!-- th:errors="*{name}"では、nameフィールドのエラーを展開して<span>の内容として表示させる！ -->
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</td>
			</tr>
			<tr>
				<th>Email</th>
				<!-- userFormのemailフィールドとの紐付け -->
				<td>
					<input type="text" th:field="*{email}">
					<!-- バリデーションエラーメッセージ表示 -->
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</td>
			</tr>
		</table>
		<input type="submit" value="登録">
	</form>
	<!-- ユーザー一覧画面へのリンク追加 -->
	<a th:href="@{/users}">ユーザー一覧へ</a>
</body>
</html>