<!DOCTYPE html>
<!-- thymeleafを使う！thで使える！ -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ユーザー一覧</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<tr>
			<th>ID</th>
			<th>名前</th>
			<th>Email</th>
		</tr>
		<!-- 繰り返したいタグにth:eachを追加 -->
		<tr th:each="user : ${users}">
			<!-- 表示したいタグにth:textを追加 -->
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.email}"></td>
		</tr>
	</table>
</body>
</html>