<!DOCTYPE html>
<!-- thymeleafを使う！thで使える！ -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ユーザー一覧</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<tr>
			<th>ID</th>
			<th>名前</th>
			<th>Email</th>
			<th></th>
		</tr>
		<!-- 繰り返したいタグにth:eachを追加 -->
		<tr th:each="user : ${users}">
			<!-- 表示したいタグにth:textを追加 -->
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.email}"></td>
			<!-- 削除ボタンを追加 -->
			<td>
				<!-- 削除処理の呼び出しを追加 -->
				<!-- th:actionでデータの送信先を指定！${user.id}は、th:text="${user.id}"で使用しているものと同じで、繰り返し処理で取り出したユーザーのIDを示す！ -->
				<form th:action="@{'/users/' + ${user.id}}" th:method="delete">
					<input type="submit" value="削除">
				</form>
			</td>
		</tr>
	</table>
	<!-- ユーザー登録画面へのリンク追加 -->
	<a th:href="@{/newuser}">新規登録へ</a>
</body>
</html>